<%= form_for(@ordered_product) do |f| %>
  <% if @ordered_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordered_product.errors.count, "error") %> prohibited this ordered_product from being saved:</h2>

      <ul>
      <% @ordered_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
