<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @ordered_product.product %>
</p>

<p>
  <b>Order:</b>
  <%= @ordered_product.order %>
</p>

<p>
  <b>Quantity:</b>
  <%= @ordered_product.quantity %>
</p>


<%= link_to 'Edit', edit_ordered_product_path(@ordered_product) %> |
<%= link_to 'Back', ordered_products_path %>
