<h1>Listing groupc_users</h1>

<table>
  <tr>
    <th>Groupc</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupc_users.each do |groupc_user| %>
  <tr>
    <td><%= groupc_user.groupc %></td>
    <td><%= groupc_user.user %></td>
    <td><%= link_to 'Show', groupc_user %></td>
    <td><%= link_to 'Edit', edit_groupc_user_path(groupc_user) %></td>
    <td><%= link_to 'Destroy', groupc_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groupc user', new_groupc_user_path %>
