<p id="notice"><%= notice %></p>

<p>
  <b>Groupc:</b>
  <%= @groupc_user.groupc %>
</p>

<p>
  <b>User:</b>
  <%= @groupc_user.user %>
</p>


<%= link_to 'Edit', edit_groupc_user_path(@groupc_user) %> |
<%= link_to 'Back', groupc_users_path %>
