<% @counter = 0 %>
<% @count_user = 0 %>
<% @ordered_products = @order.ordered_products %>

<div id="dialog-form" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Save Form -- Please complete that information</h3>
  </div>

  <div class="modal-body">
    <%= form_tag("/orders/#{@order.id}/save_products") do -%>
      <% @ordered_products.each do |op, i| %>
        <%product = op.product%>
        <% if product.quantity.blank? or product.price.blank? %>
          <legend>
            Product Name : <%= product.name %>
            <div class="product_<%= op.product.id %>">
              <div class="field">
                <%= label_tag 'Quantity' %>
                <%= number_field_tag "product[#{product.id}][quantity]", product.quantity %>
              </div>
              <div class="field">
                <%= label_tag 'Price' %>
                <%= number_field_tag "product[#{product.id}][price]", product.price %>
              </div>
            </div>
          </legend>
        <% else %>
          <% @counter = @counter + 1 %>
        <% end %>
      <% end %>

      <% if @users %>
        <% @users.each do |user| %>
          <% if user.encrypted_password.blank? or user.email.include?("test.com") %>
            <legend>
              User : <%= user.name %>
              <div class="user_<%= user.id %>">
                <div class="field">
                  <%= label_tag 'Email' %>
                  <%= email_field_tag "user[#{user.id}][email]", '' %>
                </div>
                <div class="field">
                  <%= label_tag 'Password' %>
                  <%= password_field_tag "user[#{user.id}][password]", '' %>
                </div>
              </div>
            </legend>
          <% else %>
            <% @count_user = @count_user + 1 %>
          <% end %>
        <% end %>
      <% end %>

      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <%= submit_tag 'Save', :class => 'btn btn-primary' %>
      </div>
    <% end -%>
  </div>
</div>

<% count = @users.nil? ? 0 : @users.count %>

<% if !@ordered_products.count.eql?(@counter) or !count.eql?(@count_user) %>
  <script type="text/javascript">
    $(function() {
      $('#dialog-form').modal();
    });
  </script>
<% end %>