<p id="notice"><%= notice %></p>

<p>
  <b>Groupb:</b>
  <%= @groupb_user.groupb %>
</p>

<p>
  <b>User:</b>
  <%= @groupb_user.user %>
</p>


<%= link_to 'Edit', edit_groupb_user_path(@groupb_user) %> |
<%= link_to 'Back', groupb_users_path %>
