<h1>Listing groupcs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupcs.each do |groupc| %>
  <tr>
    <td><%= groupc.name %></td>
    <td><%= groupc.order %></td>
    <td><%= link_to 'Show', groupc %></td>
    <td><%= link_to 'Edit', edit_groupc_path(groupc) %></td>
    <td><%= link_to 'Destroy', groupc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groupc', new_groupc_path %>
