<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @groupc.name %>
</p>

<p>
  <b>Order:</b>
  <%= @groupc.order %>
</p>


<%= link_to 'Edit', edit_groupc_path(@groupc) %> |
<%= link_to 'Back', groupcs_path %>
