<h1>Listing groupbs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupbs.each do |groupb| %>
  <tr>
    <td><%= groupb.name %></td>
    <td><%= groupb.order %></td>
    <td><%= link_to 'Show', groupb %></td>
    <td><%= link_to 'Edit', edit_groupb_path(groupb) %></td>
    <td><%= link_to 'Destroy', groupb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groupb', new_groupb_path %>
