<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @groupb.name %>
</p>

<p>
  <b>Order:</b>
  <%= @groupb.order %>
</p>


<%= link_to 'Edit', edit_groupb_path(@groupb) %> |
<%= link_to 'Back', groupbs_path %>
