<%= form_for(@groupa) do |f| %>
  <% if @groupa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groupa.errors.count, "error") %> prohibited this groupa from being saved:</h2>

      <ul>
      <% @groupa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
