<h1>Listing groupas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupas.each do |groupa| %>
  <tr>
    <td><%= groupa.name %></td>
    <td><%= groupa.order %></td>
    <td><%= link_to 'Show', groupa %></td>
    <td><%= link_to 'Edit', edit_groupa_path(groupa) %></td>
    <td><%= link_to 'Destroy', groupa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groupa', new_groupa_path %>
