<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @groupa.name %>
</p>

<p>
  <b>Order:</b>
  <%= @groupa.order %>
</p>


<%= link_to 'Edit', edit_groupa_path(@groupa) %> |
<%= link_to 'Back', groupas_path %>
