<div class="navbar">
  	<div class="navbar-inner">
    	<div class="container">
			<ul class="nav">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "Orders", orders_path %></li>
				<li><%= link_to "Products", products_path %></li>
				<li><%= link_to "Ordered Products", ordered_products_path %></li>
				<li><%= link_to "Colors", colors_path %></li>
			</ul>
		</div>
	</div>
</div
